@import 'normalize.scss';

//temp

.app-container {
  border:1px red solid;
  height: 100vh;
  background-color: #cccccc;
}
.main-container {
  border:2px orange solid;
  height: 100%;
  background-color: #eeeded;

  display: flex;
  flex-direction: row;


}
.app-sandbox {
  border:1px black solid;
  background-color: pink;
}


.dashboard-container {
  border:1px blue solid;

}

.left-pane {
  border:1px black solid;
  min-width: 150px;

}
.analytics-container {
  border:5px red solid;
  height:100%;
  display: flex;
  flex-direction:column;

}
.main-sandbox {
  flex-grow:1;
}
.patients-container {
  border:5px orange solid;
  height:100%;
  display: flex;
  flex-direction:row;
}
//temp
