@import 'normalize.scss';

//temp

[class$="-container"] ,
[class$="-container "] {
 border:1px gray dashed;
}
body {
  color:white;
}
a{
  color:yellow;
}
.app-container {
  border:1px red solid;
  height: 100vh;
  background-color: #3f3e3e;
  // display: flex;
  // flex-direction: column;
}
.header-container {
  background-color: black;
  text-align:center;
}
.main-container {
  border:2px orange solid;
  height: 100%;
 // background-color: #eeeded;

  display: flex;
  flex-direction: row;


}
.app-sandbox {
  border:1px black solid;
  background-color: pink;
}


.dashboard-container {
  border:1px blue solid;

}

.left-pane {
  border:1px black solid;
  min-width: 150px;

}
.analytics-container {
  border:2px red dashed;
  height:100%;
  display: flex;
  flex-direction:column;

}
.main-sandbox {
  flex-grow:1;
}
.patients-container {
  border:2px gold dashed;
  height:100%;
  display: flex;
  flex-direction:row;
}
//temp
.d-container {
  flex-grow:1;
}
.filter-container {
  border:2px gold dashed;
  height:100%;
  display: flex;
  flex-direction:row;
  div {border:1px black solid}
}
.chart-container {
  border:2px gold dashed;
  height:100%;
  display: flex;
  flex-direction:row;
  width: 100%;
  .right-pane {
    background-color: black;
    width:200px;
    flex-grow:0;
  }
.main-pane {
  flex-grow:1;
}
}
