
  <ul>
      <li>
          <a [routerLink]="['/quentry/analytics']" routerLinkActive="router-link-active">Analytics</a>
        </li>
        <!-- <li>
            <a [routerLink]="[{ outlets: { primary: ['/home/analytics'],sidebar: ['/home'] } }]" routerLinkActive="router-link-active">Analytics2</a>
        </li> -->
        <li>
            <a [routerLink]="['/quentry/patients']" routerLinkActive="router-link-active">Patients</a>
        </li>
        <li>
            <a [routerLink]="['/quentry/applications']" routerLinkActive="router-link-active">Applications</a>
        </li>
  </ul>



