<p>
  login works!
</p>
<div>
  <a [routerLink]="['/landing/registration']" routerLinkActive="active">Registation</a>
  &nbsp;&nbsp;
  <a [routerLink]="['/landing/recovery']" routerLinkActive="active">Recovery</a>
  &nbsp;&nbsp;
  <a [routerLink]="['/analytics']" routerLinkActive="active">Analytics</a>
  &nbsp;&nbsp;
  <a [routerLink]="['/analytics222']" routerLinkActive="active">Wrong page - 404</a>
</div>
<div>
  <p class="aasa">Generate error for LoggerSevice check</p>
  <button (click)="generateError()">Error</button>
</div>
