@import "./styles/flexbox.scss";
@import "./styles/common.scss";

.first-container {
    background: red;
    width: 200px;
    height: 120px;
    @extend .flex;
    @extend .justify-content--space-between;
}
.second-container {
    background: blue;
    width: 200px;
    height: 120px;
    @extend %flex;
    @extend %justify-content--space-between;
    @include flex-name1('false');
}

.third-container {
    background: green;
    width: 200px;
    height: 120px;
    @include flex;
    @include justify-content--space-between;
    & .is-first {
        @include flex-name1('true');
    }
    
}

// app-login {
//     display: flex;
//     width: 100%;
//     height: 100%;
//     background: #f00;
// }