<div class="app-container">
<!--The content below is only a placeholder and can be replaced.-->
<div class="header-container">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!--
<div class="flex justify-content--space-between">
  <div class="first-container">
    <span class="is-first">first left</span>
    <span>first right</span>
  </div>
  <div class="second-container">
    <span class="is-first">second left</span>
    <span>second right</span>
  </div>
  <div class="third-container">
    <span class="is-first">third left</span>
    <span>third right</span>
  </div>
</div>
-->
<router-outlet></router-outlet>
</div>
