<!-- <div class="dashboard-container" style="border:1px blue solid; flex-grow: 1;height: 100%;">
  <p>
    AnalyticsDashboardComponent works!
  </p>
  4a2e578b-60ba-48c5-b921-fe1097f37bdc
  <div>
    <a [routerLink]="['/analytics/charts', 'eb0b702d-7884-434a-b145-3ea5bf36d032']" [queryParams]="{graphName: 'Patient Accrual'}" routerLinkActive="active">Patient Accrual</a>
  </div>
  <div>
    <a [routerLink]="['/analytics/charts', '4a2e578b-60ba-48c5-b921-fe1097f37bdc']" [queryParams]="{graphName: 'Submitted Events'}" routerLinkActive="active">Submitted Events</a>
  </div>

  <p>
  <label >s- {{theme}} -s</label>

  <select
          [ngModel]="theme"
          (ngModelChange)="theme = $event">
          <option [value]="'dark'">Dark</option>
          <option [value]="'light'">Light</option>
  </select>

  </p>
</div> -->
<div class="dashboard-container" style="border:1px blue solid; flex-grow: 1;height: 100%;">
  <div *ngFor="let hero of heroes" style="border:1px gray solid;height:150px;width:300px;" >obj {{ hero }} </div>

</div>